body {
    font-family: 'Poppins', sans-serif;
  }
  
.custom-box-shadow{
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}


#letterhead-printable {
  background: white;
  color: black;
  padding: 30px;
  font-family: Arial, sans-serif;
}

#letterhead-printable p {
  margin: 5px 0;
}

#letterhead-printable .ql-container,
#letterhead-printable .ql-toolbar {
  display: none;
}


@media print {
  #print-view {
    display: block;
    min-height: 100vh; /* Ensure it occupies the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer is pushed to the bottom */
  }

  #print-view > .Header,
  #print-view > .MainSection,
  #print-view > .Footer {
    flex-shrink: 0;
  }

  .Footer {
    margin-top: auto; /* Push the footer to the bottom */
    text-align: center;
    border-top: 2px solid #007bff;
    padding: 10px 0;
    font-size: 12px;
    color: #333;
  }
}



@media screen and (max-width: 600px) {
  .phone-none {
    display: none;
  }
}